<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="searchLine">
                <button class="btn-search" type="submit" @click="filterProducts()">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button" @click="visible">Корзина</button>
            <div class="cart-block" v-show="isVisibleCart" >
                    <div class="cart-item" data-id="item.id" v-for="item in cart">
                            <div class="product-bio">
                                <img src="item.id" alt="Some image">
                                <div class="product-desc">
                                    <p class="product-title">{{ item.title }}</p>
                                    <p class="product-quantity">Quantity: {{ item.quantity }}</p>
                                    <p class="product-single-price">{{ item.price }}</p>
                                </div>
                            </div>
                            <div class="right-block">
                                <p class="product-price">{{ item.quantity * item.price }}</p>
                                <button class="del-btn" data-id="item.id">&times;</button>
                            </div>
                        </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
                <div class="product-item" :data-id="item.id" v-for="item in filteredProducts" v-if="filteredProducts.length !=0">
                        <img :src="item.img" alt="Some img">
                        <div class="desc">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.price }}</p>
                            <button class="buy-btn" 
                            :data-id="item.id"
                            :data-name="item.title"
                            :data-image="item.img"
                            :data-price="item.title">Купить</button>
                        </div>
                    </div>
                    <div class="nodata" v-else>Нет данных</div>
        </div>
    </main>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>
