<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <div id="app">
  
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
          <form action="#" class="search-form">
            <input type="text" class="search-field" v-model="searchLine" @submit="newFilter($event)">
            <button class="btn-search" type="submit" @click="newFilter($event)">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <button class="btn-cart" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
          <div class="cart-block" v-if="isVisibleCart">
            <div v-if="cart.countGoods === 0">Ваша корзина пуста.</div>  
            <div  v-else v-for="good of cart.contents" class="cart-item">
              <div class="product-bio">
                <img :src="good.img" alt="Some cart image">
                <div class="product-desc">
                  <p class="product-title">{{good.product_name}}</p>
                  <p class="product-quantity">Кол-во: {{good.quantity}}</p>
                  <p class="product-single-price">по {{good.price}} руб.</p>
                </div>
              </div>
              <div class="right-block">
                <p class="product-price">{{good.quantity * good.price}}&nbsp;руб.</p>
                <button class="del-btn" @click="removeGood(good)"><i class="fa fa-times-circle remove"></i></button>
              </div>
            </div>
            <div class="cart-total" v-html="cartTotal()"></div>
          </div>
        </div>
    </header>
    
    <main>
        <div class="products">
          <div v-if="filteredGoods.length === 0">Нет данных.</div>
          <div v-else v-for="good of filteredGoods" class="product-item">
            <img :src="good.img" alt="Some good img">
            <div class="desc">
              <h3>{{good.product_name}}</h3>
              <p>{{good.price}} руб.</p>
              <button class="buy-btn" @click="addGood(good)">Купить</button>
            </div>
          </div>
        </div>
    </main>
    
  </div>


    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
