<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="app">
    <header>
        <div class="logo">WISE <span>Market</span></div>
        <form action="#" class="search-form">
            <input type="text" class="search-field">
            <button class="btn-search" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div id="cart" class="cart">
            <cart id="product" class="product-item" v-for="product in products" v-bind:product='product'>
            </cart>
        </div>
    </header>
    <main>
            <div id="products" class="products">
                <product id="product" class="product-item" v-for="product in products" v-bind:product='product'></product>
            </div>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <!-- <script src="js/main.js"></script> -->
    <script src="js/vue.js"></script>
    <script src="js/product.js"></script>
</body>

</html>
