.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/js-2-08_21.11/v16/.suo
.idea/
students/.DS_Store
/students/Aleksey_Zubovich/
/students/Alexander Fomin/
/students/Alexander Shchastny/
/students/Alexander Vlasov/
/students/Alyona/
/students/Andrew_Danilin/
/students/Andrey Osipuk/
/students/Boris Golovach/
/students/Dam Quang Tung/
/students/Denis Strashnyuk/
/students/Dmitry Andreyanov/
/students/Ekaterina_Prokofeva/
/students/Fedotov_Aleksey/
/students/Igor A1/
/students/Konstantin Buzuev/
/students/Kopylov_Eduard/
/students/Kudinov Kirill/
/students/Liza Komissarova/
/students/Maltseva Elena/
/students/Margarita Sergeeva/
/students/Maria V/
/students/Matantsev_Sergey/
/students/Maxim Sozinov/
/students/Nikolay Batorin/
/students/OlegSolomatin/
/students/Olga Leonteva/
/students/Rakushov Ruslan/
/students/Rein Konstantinov/
/students/Samodelkin Paweł/
/students/Shulgin Aleksandr/
/students/Stanislav Korol/
/students/Starikov Dmitriy/
/students/Timur  Garipov/
/students/Valeria Karimova/
/students/Valeria Manannikova/
/students/Victor Samobrod/
/students/Zhestovskikh Anatoliy/
/students/Вороная Екатерина Александровна/
/students/Галицкий Вадим/
/students/Дмитрий Сафонов/
/students/Aleksey_Zubovich/
/students/Alexander Fomin/
/students/Alexander Shchastny/
/students/Alexander Vlasov/
/students/Alyona/
/students/Andrew_Danilin/
/students/Andrey Osipuk/
/students/Boris Golovach/
/students/Dam Quang Tung/
/students/Denis Strashnyuk/
/students/Dmitry Andreyanov/
/students/Ekaterina_Prokofeva/
/students/Fedotov_Aleksey/
/students/Igor A1/
/students/Konstantin Buzuev/
/students/Kopylov_Eduard/
/students/Kudinov Kirill/
/students/Liza Komissarova/
/students/Maltseva Elena/
/students/Margarita Sergeeva/
/students/Maria V/
/students/Matantsev_Sergey/
/students/Maxim Sozinov/
/students/Nikolay Batorin/
/students/OlegSolomatin/
/students/Olga Leonteva/
/students/Rakushov Ruslan/
/students/Rein Konstantinov/
/students/Samodelkin Paweł/
/students/Shulgin Aleksandr/
/students/Stanislav Korol/
/students/Starikov Dmitriy/
/students/Timur  Garipov/
/students/Valeria Karimova/
/students/Valeria Manannikova/
/students/Victor Samobrod/
/students/Zhestovskikh Anatoliy/
/students/Вороная Екатерина Александровна/
/students/Галицкий Вадим/
/students/Дмитрий Сафонов/
