$default-font: 'proxima_nova', sans-serif;

$background-color: #ffffff;
$s-background-color: #ff8d2c;

$p-active-color: #27ae60;
$s-active-color: #ff8d2c;

$p-text-color: #222222;
$s-text-color: #ffffff;
$g-text-color: #4b4b4b;
$o-text-color: #ff8d2c;