form {
            width: 400px
        }
        label {
            display: block;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        fieldset {
            margin-top: 10px;
        }
        .button1 {
            width: 400px;
            margin-top: 10px;
            text-align: center;
        }
        button {
            width: 200px;
        }
        .rezult {
            margin-top: 10px;
            width: 368px;
            margin-inline-start: 2px;
            margin-inline-end: 2px;
            padding-block-start: 0.38em;
            padding-inline-start: 0.9em;
            padding-inline-end: 0.75em;
            padding-block-end: 0.625em;
            /* min-inline-size: min-content; */
            border-width: 2px;
            border-style: groove;
            border-color: threedface;
            border-image: initial;
        }