.cart {
    min-width: 400px;
    background-color: #2f2a2d;

    &__button {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.2em;
        color: #fafafa;
    }

    &__wrap {
        position: absolute;
        display: inherit;
        top: 90px;
        right: 8px;
        border: 1px solid black;
        background-color: #2f2a2d;
        transition-property: height;
        transition-duration: 0.5s;
    }

    &_filled {
        color: green;
    }

    &_hidden {
        height: 0px;
        display: none;
    }

}