.cart-item {
    display: grid;
    grid-template-columns: 50px auto auto 25px 50px;
    grid-column-gap: 10px;
    padding: 10px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__icon {
        height: 50px;
        width: 50px;
        object-fit: fill;
        object-position: center;
        justify-self: flex-start;
        margin-right: 15px;
    }

    &__title {
        max-width: 150px;
        margin: auto 0;
        font-size: 12px;

    }

    &__quantity,
    &__price {
        font-size: 18px;
        max-height: 50px;
        line-height: 50px;

    }


    &__delete-btn {
        background-color: #2f2a2d;
        border: 1px solid transparent;
        color: #fafafa;
        transition: all ease-in-out .4s;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        font-size: 28px;
        line-height: 50px;

        padding-left: 6px;


        &:hover {
            background-color: #fafafa;
            color: #2f2a2d;
            border: 1px solid #2f2a2d;

        }
    }
}

/*
Выпиленные кнопки:
    &__btnGroup {
        display: flex;
        justify-content: space-between;
        justify-self: flex-end;
    }
    &__add-btn,
    &__remove-btn,

*/