*{
    margin:0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

#oneForm
{
  
   
    width: 50%;
    margin: 2% auto;
    padding:20px;
    background-image: url('http://www.lessdraw.com/wp-content/uploads/2014/12/163.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 8px;
}

legend h1
{
    text-align: center;;
}

fieldset
{
    padding: 20px;
    border-radius: 8px;
    font-size: medium;
    background-color: darkslategrey;
    opacity: 0.95;
    color: white;
}

fieldset input
{
    margin: auto;
}


fieldset h3{
    text-align: center;
}

#clickbutton
{
    
    display: block;
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    margin: 20px auto;
    text-align: center;
}