<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" class="search-field">
                <button class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button">Корзина</button>
            <div class="cart-block invisible">
                
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            
        </div>
    </main>



    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="script/main.js"></script>
</body>
</html>
 -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form" >
                    <input type="text" class="search-field" v-model="search">
                    <button class="btn-search" type="submit" >
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="toggleBasket">Корзина</button>
                <div class="cart-block" v-if="isActiveBasket">
                    <div class="cart-item" v-for="prod of basket">
                        <div class="product-bio" >
                            <img :src="prod.img" alt="Some image">
                            <div class="product-desc" v-for="post in filteredList">
                                <!-- <p class="title-name">{{ post.title }}</p> -->
                                <p class="product-title">{{ prod.product_name }}</p>
                                <p class="product-quantity">Quantity: {{ prod.quantity }}</p>
                                <p class="product-single-price">{{ prod.price }} each</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">{{ prod.quantity * prod.price }}</p>
                            <button class="del-btn" @click="deleteItemFromBasket(prod.id_product)">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="item of catalog">
                    <img :src="item.img" alt="Some img">
                    <div class="desc">
                        <h3>{{ item.product_name }}</h3>
                        <p>{{ item.price }} </p>
                        <button class="btn-cart" type="button" @click="content(item.id_product, item.product_name, item.price)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="script/main.js"></script>
</body>
</html>