doctype html
html(lang="ru-RU")
  head
    include _head
  body
    #app
    //- .wrapper
    //-   include _counters
    //-   .wrap-container
    //-     include _top-menu
    //-     main.main
    //-       #app
    //-   include _footer
    //- include _end
