body, html{
    height:100%;
    background: #EAEBED;
}
body{
    padding:0;
    margin:0;
}
h1, p, li{
    font-family:'Montserrat', helvetica, arial, sans-serif;
    font-weight: 700;
    color:#484A56;
    margin:0 0 1em;
}
section li{
    margin:0 0 10px;
}
h1{
    font-size:2.5em;
    margin: 50px 130px;
}
p{
    font-size:1em;
    line-height:1.5em;
}
.wrapper{
    overflow:hidden;
}
section{
    padding:10px 30px 30px 80px;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}
form{
    position:fixed;
    top:0;
    left:0;
    width:600px;
    height:100%;
    margin:0 0 0 -600px;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}
.burger{
    display:block;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:700;
    line-height:42px;
    color:#fff;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position:fixed;
    top:50px;
    left:60px;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
    z-index:500;
}
/*input[type="checkbox"]{
    display:none;
    opacity: 0;
}*/
input[type="checkbox"]:checked ~ form{
    margin:0 0 0 0;
}
input[type="checkbox"]:checked ~ label{
    left:630px;
}
input[type="checkbox"]:checked ~ section{
    -webkit-transform:translate3d(600px, 0, 0);
    -moz-transform:translate3d(600px, 0, 0);
    -o-transform:translate3d(600px, 0, 0);
    transform:translate3d(600px, 0, 0);
}
svg {
    transform: scale(1.5);
}
.fa {
    color: #E86252;
    padding:10px 20px 10px 10px;
}
#burger {
    display:block;
}
