header
  div(class='container')
    div(class='profile')
      ProfileImage(:avatar='image')
      ProfileUserSettings(:name='FirstName')
      ProfileStats(posts='168' followers='188' following='206')
      ProfileBio(realname='realname' bio='bio')
