<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="logo">{{ shopName }}</div>
        <cart ref="cart"></cart>
        <!-- <div class="cart">
          <form action="#" class="search-form">
            <input type="text" class="search-field" v-model="this.$root.$refs.catalog.vSearchString"/>  
              <button class="btn-search" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <button class="btn-cart" type="button" @click="toggleCartVisibility">Корзина</button>
          
          <div class="cart-block" v-show="cart.isVisible">
            <template v-if="cart.vItems.length > 0">
              <div class="cart-item" :data-id="item.id" v-for="item in cart.vItems">
                <div class="product-bio">
                  <img :src="imageCart" alt="Some image" />
                  <div class="product-desc">
                    <p class="product-title">{{item.title}}</p>
                    <p class="product-quantity">Quantity: {{item.quantity}}</p>
                    <p class="product-single-price">{{item.price}} руб. each</p>
                  </div>
                </div>
                <div class="right-block">
                  <p class="product-price">{{item.quantity * item.price}}</p>
                  <button class="del-btn" :data-id="item.id" @click="delItemFromCart">&times;</button>
                </div>
              </div>
            </template>
            <div class="cart-empty" v-else>Cart is empty</div>
          </div>
        </div> -->
      </header>
      <main>
        <catalog ref="catalog"></catalog>
        <!-- <div class="products">
          <template v-if="filteredItems.length > 0">
          <div class="product-item" :data-id="prod.id" v-for="prod in filteredItems">
            <img :src="image" alt="Some img" />
            <div class="desc">
              <h3>{{ prod.title }}</h3>
              <p>{{ prod.price }} руб.</p>
              <button
                class="buy-btn"
                :data-id="prod.id"
                :data-name="prod.title"
                :data-image="image"
                :data-price="prod.price"
                @click="addItemToCart"
              >
                Купить
              </button>
            </div>
          </div>
        </template>
        <div class="catalog-empty" v-else>No products</div>
        </div> -->
      </main>
    </div>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
      integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/search.js"></script>
    <script src="js/catalog.js"></script>
    <script src="js/catalogItem.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/cartItem.js"></script>
    <script src="js/dataLoading.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
