<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="search">
                    <button @click="filteredProducts" class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button">Корзина</button>
                <div class="cart-block invisible"></div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="item of items">
                    <img src="https://placehold.it/200x150" alt="Some img">
                    <div class="desc">
                        <h3>{{ item.product_name }}</h3>
                        <p>{{ item.price }}</p>
                        <button v-on:click="clickHandler" class="buy-btn"
                        v-bind:data-id="item.id_product"
                        v-bind:data-name="item.product_name"
                        v-bind:data-price="item.price">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>
