.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
  width: 16rem; //new
}
@media screen and (max-width: 40rem) {
  .profile-image {
    float: none;
    width: auto;
  }

  .profile-image img {
    width: 7.7rem;
  }
}
@supports (display: grid) {
  .profile-image {
    grid-row: 1 / -1;
  }
  .profile-image {
    width: auto;
    margin: 0;
  }
  @media (max-width: 40rem) {
    .profile-image {
      grid-row: 1 / 2;
    }
  }
}
