<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form" @submit.prevent="filterGoods">
                <input type="text" class="search-field" v-model="searchLine">
                <button class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div id="cart-module">
                <button class="btn-cart" type="button" @click="switchCart">Корзина</button>
                <div v-if="isVisibleCart" class="cart-block">
                    <p v-if="cartItems.length == 0">Корзина пуста</p>
                    <div v-for="cartItem in cartItems" class="cart-item" :data-id="cartItem.id">
                            <div class="product-bio">
                                <img :src="cartItem.image" alt="Some image">
                                <div class="product-desc">
                                    <p class="product-title">{{ cartItem.name }}</p>
                                    <p class="product-price">{{ cartItem.quantity * cartItem.price }}</p>
                                    <p class="product-quantity">Quantity: {{ cartItem.quantity }}</p>
                                    <p class="product-single-price">${{ cartItem.price }} each</p>
                                </div>
                            </div>
                            <div class="right-block">
                                <button class="del-btn" :data-id="cartItem.id">&times;</button>
                            </div>   
                    </div>       
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <p v-if="filteredList.length == 0">Нет данных</p>
            <div v-for="product in filteredList" class="product-item" :data-id="product.id">
                    <img :src="product.img" alt="Some img">
                    <div class="desc">
                        <h3>{{ product.title }}</h3>
                        <p>{{ product.price }} $</p>
                        <button class="buy-btn" 
                        :data-id="product.id"
                        :data-name="product.title"
                        :data-image="product.img"
                        :data-price="product.price">Купить</button>
                    </div>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>
