div(class='profile-stats')
  ul
    li
      span(class='profile-stat-count') {this.props.posts}
      |  posts
    li
      span(class='profile-stat-count') {this.props.followers}
      |  followers
    li
      span(class='profile-stat-count') {this.props.following}
      |  following
