div(class='profile-user-settings')
  h1(class='profile-user-name') {this.props.name}
  button(class='btn profile-edit-btn') Edit Profile
  button(class='btn profile-settings-btn' aria-label='profile settings')
    i(class='fas fa-cog' aria-hidden='true')
